IndentWidth: 4
ColumnLimit: 10000
SortIncludes: CaseInsensitive
AccessModifierOffset: -4
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakStringLiterals: true
ReflowComments: true
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
NamespaceIndentation: None
Standard: c++20
